body {
  display: flex;
  align-items: center;
  background-color: black;
  font-family: Verdana;
}

div {
  position: relative;
  align-items: center;
}

#quote-box {
  position:relative;
  background-color: white;
  margin: 8% auto auto auto;
  height: auto;
  width: 500px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
  padding: 20px;
}

#comboText {
  font-size: 30px;
}

#comboAut {
  float: right;
  margin-right: 30px;
  font-size: 15px;
}

.buttons {
  width: 500px;
  height:auto;
  margin-top: 30px;
  margin-bottom: 70px;
}

.button {
  color: white;
  background-color: black;
}

.button:active {
  transform: translateY(4px);
}

.button:hover {
  opacity: 0.8;
}

#new-quote {
  float: right;
  margin-right: 30px;
  height: 30px;
  width: 100px;
  line-height: 30px;
  font-size: 12px;
  border-style: groove;
  border-radius: 10px;
}

#author {
  padding: 10px;
}




